# {{ ansible_managed }}

{% if aws.profiles is defined %}
{% for profile, profile_settings in aws.profiles|dictsort(true) if profile_settings %}
[{% if profile != "default" %}profile {% endif %}{{ profile }}]
region = {{ profile_settings.region | default('us-east-1')}}
output = {{ profile_settings.output | default('json') }}

{% endfor%}
{% endif %}
