# {{ ansible_managed }}

{% if aws.cli.profiles is defined %}
{% for profile, profile_settings in aws.cli.profiles|dictsort(true) if profile_settings %}
[{{ profile }}]
aws_access_key_id = {{ profile_settings.aws_access_key_id | default('')}}
aws_secret_access_key = {{ profile_settings.aws_secret_access_key | default('') }}

{% endfor%}
{% endif %}
