# {{ ansible_managed }}

{% for profile in aws.profiles %}
{% if profile.aws_access_key_id is defined and profile.aws_access_key_id and profile.aws_secret_access_key is defined and profile.aws_secret_access_key %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.aws_access_key_id | default('')}}
aws_secret_access_key = {{ profile.aws_secret_access_key | default('') }}
{% endif %}
{% endfor%}
