# {{ ansible_managed }}

{% for profile in aws.profiles %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.aws_access_key_id | default('')}}
aws_secret_access_key = {{ profile.aws_secret_access_key | default('') }}

{% endfor%}
